body{
    padding-top: 70px;
    background-image: url("../images/numerology.png");
    background-repeat: no-repeat;
}

#people_table{
    box-shadow: 1px 1px 1px #999;
    -moz-box-shadow: 1px 1px 1px #999;
    -webkit-box-shadow: 1px 1px 1px #999;
}

#planet{
    width: 100px;
    height: 100px;
    float: left;
    margin: 0px 15px 15px 0px;
}
